################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Compilers.c
/Compilers.h
/Compiler.exe
